@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
.app {
  min-height: 100vh; /* Ensure app fills the viewport */
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s ease; /* Optional: Smooth transition */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.player-wrapper {
  animation: slideUp 0.5s ease-out;
}

/* input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px; 
  height: 8px; 
  outline: none; 
} */

.range-input {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: rgba(255, 255, 255, 0.1);
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

.range-input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

